@import '../../../styles/colors';
@import '../../../styles/variables';

#eat {
  background-color: $mediumblue;
  position: fixed;
  top: 0;
  left: 0;

  .fa {
    display: flex;
    flex-direction: row;
    margin: .25em;
}

  #eatAmt {
    display: flex;
  }

  h4 {
    position: relative;
    margin-left: 3em;
    color: $snow;
}
}