@import '../../../styles/colors';
@import '../../../styles/variables';

#play {
  background-color: $seagreen;
  position: fixed;
  top: 0;
  left: 50%;

  .fa {
    display: flex;
    flex-direction: row;
    margin: .25em;
  }

  h4 {
    position: relative;
    margin-left: 3em;
    color: $snow;
  }
}