@import '../../../styles/colors';
@import '../../../styles/variables';

#fight {
  background-color: $purple;
  position: fixed;
  top: 50%;
  left: 0;

  .fa {
    display: flex;
    flex-direction: row;
    margin: .25em;
  }
  h4 {
    position: relative;
    margin-left: 3em;
    color: $snow;
  }
}

